.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-image: url('../public/pexels-frank-cone-2258536.jpg');
  background-size: cover; /* Adjust this property to control how the image scales */
  background-repeat: no-repeat;
  background-attachment: fixed; /* This keeps the background fixed while scrolling */
}
/* App.css or your custom CSS file */
.sign-in-container button,
.sign-out-container button {
  background-color: #0074d9; /* Blue background color */
  color: #fff; /* White text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding for button size */
  cursor: pointer; /* Add pointer cursor on hover */
  margin: 5px; /* Add margin for spacing */
}

.sign-in-container button:hover,
.sign-out-container button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
/* App.css or your custom CSS file */
h1 {
  color: #fff; /* White color for the text */
  background-color: #333; /* Dark background color */
  padding: 10px; /* Add some padding for spacing */
  text-align: center; /* Center-align the text */
}

